
@{
    ViewBag.Title = "银行授信";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Home/BankRightInfo.js"></script>
<!-- 标题 -->
<div class="page-header">
    <h3>银行授信</h3>
</div>
<!-- 对话框 -->
<div class="row">
    <!-- 添加银行授信信息 -->
    <div class="card col-lg-12" id="dialog_add" style="display:none">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Company">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;企业名称:</label>
                <select class="form-control col-lg-5" id="add_Company">
                    @foreach (var item in ViewBag.ComList)
                    {
                        <option value="@item.Company">@item.Company</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Bank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;银行名称:</label>
                <select class="form-control col-lg-5" id="add_Bank">
                    @foreach (var item in ViewBag.BankList)
                    {
                        <option value="@item.Bank">@item.Bank</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Credit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;信用额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="add_Credit" placeholder="信用额度" value="0" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Acceptance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;承兑额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="add_Acceptance" placeholder="承兑额度" value="0" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Loans">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;贷款额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="add_Loans" placeholder="贷款额度" value="0" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Rates">&nbsp;&nbsp;&nbsp;贷款利率(%):</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="add_Rates" placeholder="贷款利率(%)" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">参照格式:1.11</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="add_Arrears">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欠款总额:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="add_Arrears" placeholder="欠款总额" value="0" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4  mr-4" for="add_Remarks">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;备注:</label>
                <!-- is-invalid is-valid  -->
                <textarea class="form-control col-lg-5" id="add_Remarks" rows="3" style="resize: none"></textarea>
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-2"></label>
            </div>
        </div>
    </div>
    <!-- 编辑银行授信信息 -->
    <div id="dialog_edit" class="card col-lg-12" style="display:none">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Company">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;企业名称:</label>
                <select class="form-control col-lg-5" id="Edit_Company">
                    @foreach (var item in ViewBag.ComList)
                    {
                        <option value="@item.Company">@item.Company</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Bank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;银行名称:</label>
                <select class="form-control col-lg-5" id="Edit_Bank">
                    @foreach (var item in ViewBag.BankList)
                    {
                        <option value="@item.Bank">@item.Bank</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Credit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;信用额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="Edit_Credit" placeholder="信用额度" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Acceptance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;承兑额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="Edit_Acceptance" placeholder="承兑额度" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Loans">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;贷款额度:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="Edit_Loans" placeholder="贷款额度" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Rates">&nbsp;&nbsp;&nbsp;贷款利率(%):</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="Edit_Rates" placeholder="贷款利率(%)" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">参照格式:1.11</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 mr-4" for="Edit_Arrears">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欠款总额:</label>
                <!-- is-invalid is-valid  -->
                <input class="form-control col-lg-4" id="Edit_Arrears" placeholder="欠款总额" type="number">
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-3">(必输)</label>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4  mr-4" for="Edit_Remarks">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;备注:</label>
                <!-- is-invalid is-valid  -->
                <textarea class="form-control col-lg-5" id="Edit_Remarks" rows="3" style="resize: none"></textarea>
                <!-- invalid-feedback valid-feedback -->
                <label class="col-form-label col-lg-2"></label>
            </div>
        </div>
    </div>
</div>
<!-- 主体内容 -->
<div class="card col-lg-12" style="height:730px;overflow-y:auto">
    <div class="card-body">
        <div style="overflow-y:auto">
            <div class="datatableSelfWidth">
                <table id="tab_BankInfo" class="table custom-table dataTable no-footer" style="width:100%;text-align:center;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>编号</th>
                            <th>企业名称</th>
                            <th>银行名称</th>
                            <th>信用额度</th>
                            <th>承兑额度</th>
                            <th>贷款额度</th>
                            <th>贷款利率</th>
                            <th>欠款总额</th>
                            <th>备注信息</th>
                            <th>创建日期</th>
                            <th>操作</th>
                            @*<th></th>
                            *@
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>
